.idea
env
src/dataloader/__pycache__/

data/img_data/*
data/gen_data/*

!data/img_data/.gitkeep
!data/img_data/README.txt

!data/gen_data/.gitkeep
!data/other_data/.gitkeep

#just when testing img loader
test.tif
!data/fetch.py
!data/other_data/
