<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PPP </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/stylesheet.css">
        <script src="../static/js/map.js"></script>
    </head>
    <body>
        <div class="main_main_cont">
            <div class="map-cont">
                <div id="map"></div>
            </div>
            <div id="root" ></div>
        </div>
        <!-- <script>
            var register = "{{ register }}";
            var error = "{{ error }}";
            var error_desc = "{{ error_desc }}";
        </script> -->
        <script type="text/babel" src="../static/js/index.js" async defer></script>
    </body>
</html>