*{
    margin: 0;
}

html{
    background: #1B1B1B; 
    height: 100vh;
}
body{
    height: 100%;
    box-sizing: border-box;
    
}
#map { 
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#root{
    width: 100px;
}
.main_main_cont{
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 30px;
    padding: 50px 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}