@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito+Sans:opsz@6..12&display=swap');

*{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

html{
    background: #1B1B1B; 
    height: 100vh;
}
body{
    height: 100%;
    box-sizing: border-box;
    
}

button{
    background-color: #292929;
    color: wheat;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 18px;
}
button:hover{
    background-color: #404040;
    color: wheat;
    transition: 0.3s;
}
button:active{
    background-color: #759AAB;
    color: black;
    transition: 0.1s;
}
#map { 
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main_main_cont{
    display: grid;
    grid-template-columns: 75% auto;
    padding: 30px 20px;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
}
