.main_cont{
    background-color: #212121;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: wheat;
    height: 100%;
    box-sizing: border-box;
}


.menu{
    margin: 0 auto ;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu div{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

input::placeholder{
    color: wheat;
    opacity: 1;
    
}
.typetext{
    background-color: #404040;
    border: none !important;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
}


.menu_change_buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.menu_change_buttons div{
    justify-content: center !important;
    background-color: #404040;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}
.menu_change_button_active {
    background-color: #759AAB !important;
    color: black;
    
}