.main_cont{
    background-color: #212121;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: wheat;
    height: 100%;
    box-sizing: border-box;
    display: inline;
}


.menu{
    margin: 0 auto ;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    min-width: 300px;
}
.menu div{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
input::placeholder{
    color: wheat;
    opacity: 1;
}
.typetext{
    background-color: #404040;
    color: wheat;
    border: none !important;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
}


.menu_change_buttons{
    display: flex;
    flex-direction: row;
    background-color: #292929;
    margin: 0;
    border-radius: 0 10px 0 0;
    
}
.menu_change_buttons div{
    
    margin: 0;
    justify-content: center !important;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 3px solid #404040
    
}
.menu_change_buttons div:hover{
    background-color: #404040;
    color: wheat;
    transition: 0.3s;
}
.menu_change_button_active {
    border-bottom: 3px solid #759AAB !important;
    color: #759AAB;
    font-size: 18px;
    transition: 0.4s ;
    
}
p{
    font-size: 13px;
}
.circletitle{
    display: inline-block;
    justify-content: start !important;
    gap: 10px;
    padding: 0 10px;
    font-size: 13px;
}
.circlecount{
    display: inline-block;
    justify-content: space-between !important;
}